
[Desktop Entry]
Encoding=UTF-8
Name=Respin
GenericName=System Backup
Exec=respin-gtk
Icon=respin-gtk
Terminal=false
Type=Application
Categories=System;Settings;
OnlyShowIn=KDE;
Name[en_US]=respin-gtk-kde.desktop
